table, tr, th, td, thead, tbody
{
    border: 1px dotted red;
    border-collapse: collapse;
}

tr td:last-child
{
    background-color: lightgreen;
}

tr td:nth-last-child(3)
{

    background-color: lightgreen;
}

#gyakorlas
{
    background-color: aquamarine;
    color: red;
}

#gyakorlas button:has(+p)
{
    background-color: greenyellow;
}

#gyakorlas button:not(:has(+p))
{
    background-color: lightblue;
}

#gyakorlas:has(+ a:hover) button
{
    background-color: blueviolet;
}

tr:not(:has(td[rowspan])) + tr:not(:has(td[rowspan])):hover td
{
    background-color: crimson;
}

tbody tr:has(td[rowspan]):hover td
{
    background-color: darkgreen;
}

tbody tr:has(td[rowspan]):hover + tr td /*Azokat a sorokat (tr) emeli ki,
 amelyekben van legalabb egy cellaban (td) rowspan, es mikor raviszed akkor az azalatti sornak az osszes cellajat szinezi ki*/
{
    background-color: rgb(110, 134, 110);
}

tr:has(td[rowspan]):has(+ tr:hover) td
{
    background-color: rgb(82, 47, 99);
}

tr:has(td[rowspan]):has(+ tr:hover) + tr td{

    background-color: rgba(160, 119, 170, 0.644);
}

.market{
    color: red;
}